:root {
    --text-color: #fff;
    --primary-color: #333;
    --background-color-div: #1e1e1e;
    --primary-page-color: rgb(141, 41, 161)

}

body,
html {
    height: 100%;
    margin: 0;
}
.background {
    display: flex;
        justify-content: center;
    align-items: center;     
    min-height: 100vh;   
}

body {

    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyMjNlcjVlZXp1bXo4ZDcyMW1lc3R3bDBlcHJtZWdjMjJwNWg1NWdpMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/A06UFEx8jxEwU/source.gif');
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    color: var(--text-color);

}

.gradient {
    width: 100%;
    height: 100vh;
}

.container-register {
    background-color: var(--background-color-div);
    height: auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    margin:  auto;
    min-width: 175px;


}

.boton-register {
    border-width: 3px;
    border-color: var(--primary-page-color)
}